<% content_for(:title, "User Profile") %>

<div class="container-fluid">

<% if @profile.id === current_user.id %>

    <ul>
      <p>Name: <%= @p.name %></p>
      <p>Email: <%= @p.email %></p>
      <p>Telephone: <%= @p.number %></p>
      <p>Account Balance: <%= @p.account_balance %></p>
    </ul>

  <% else %>
    <p>User has no profile!</p>
  <% end %>
