  <% if @profile.user_id === current_user.id %>
    <ul>
      <p>Name: <%= @profile.name %></p>
      <p>Email: <%= @profile.email %></p>
      <p>Telephone: <%= @profile.number %></p>
      <p>Account Balance: <%= @profile.account_balance %></p>
    </ul>

  <% else %>
  	<p>Sorry!You dont have a profile. Create one first!!!</p>
     <a href="/profiles/new">Create a profile.</a><hr>
  <% end %>