<% if @profile.user_id === current_user.id %>

    <ul>
      <p>Name: <%= @profiles.name %></p>
      <p>Email: <%= @profiles.email %></p>
      <p>Telephone: <%= @profiles.number %></p>
      <p>Account Balance: <%= @profiles.account_balance %></p>
    </ul>

  <% else %>
  	<p>Sorry!You dont have a profile. Create one first!!!</p>
     <a href="/profiles/new">Create a profile.</a><hr>
  <% end %>