<% content_for(:title, "User Profile") %>

<div class="container-fluid">

<% if @profiles.user_id === current_user.id %>

    <ul>
      <p>Name: <%= @profiles.name %></p>
      <p>Email: <%= @profiles.email %></p>
      <p>Telephone: <%= @profiles.number %></p>
      <p>Account Balance: <%= @profiles.account_balance %></p>
    </ul>

  <% else %>
    <p>Not allowed to access this account!</p>
  <% end %>

  <a href="/">Home</a></p><hr>