<% content_for(:title, "User Transactions") %>

<div class="container-fluid">

<a href="/transactions/new">New Transaction</a></p><hr>

<% if @transactions.any?  %>
    <ul>
      <% @transactions.each do |c| %>
        <li>
          <p>Sender: <%= c.sender %></p>
          <p>Recepient: <%= c.recepient %></p>
          <p>Reference Number: <%= c.reference_number %></p><hr>
        </li>
      <% end %>
    </ul>


  <% else %>
    <p>Not allowed to access these records!</p>
  <% end %>

    <a href="/">Home</a></p><hr>